<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atmdemo">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/atm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/atm"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATMDemo">
        <activity
            android:name="com.example.atmdemo.ui.machine.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>